{% extends '::base.html.twig' %}
{% block title %}Référentiel > Banque {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/communs/css/jquery.dataTables.min.css') }}" type="text/css" /> 
    <link rel="stylesheet" href="{{ asset('bundles/AdministrationBundle/Referentiels/css/type_paiement.css') }}" type="text/css" />
{% endblock %}

{% block body %}
    {{ parent()}}
    <section class="content-header"  style="margin-left: 0px;">
        <h1>
            Banque
        </h1>
    </section>
    <div class="row position-standard">
        <form  class="form-horizontal col-lg-12 col-md-12" method="POST" role="form" action="{{ path('procash_banque_liste') }}">
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead class="thead-inverse">
                    <tr>
                        <th>Code interne</th>
                        <th>Libelle</th>
                        <th>Ref.Externe</th>
                        <th style="width: 80fpx;">Actions</th>
                    </tr>
                </thead>
                <thead>
                    <tr style="height: 41px; background-color: #FFF;">
                        <th><input type="text" name="banque[0][code]" value="" class="form-control codeBanque input-sm" placeholder="Entrez un code de banque" />
                            <span class="erreurCode hide" style="color: red; font-size: 11px;font-weight:bold;">(Le code saisi existe déjà!)</span>
                        </th>
                        <th><input type="text" name="banque[0][libelle]" value="" class="form-control libelleBanque input-sm" placeholder="Entrez un libellé ..." />
                            <span class='erreurLibelle hide' style='color: red; font-size: 11px;font-weight:bold;'>(Le libellé saisi existe déjà!)</span>
                        </th>
                        <th><input type="text" name="banque[0][refExterne]" value="" class="form-control input-sm" placeholder="Entrez une référence ..." /></th>
                        <th>
                        <div id="ajouterBanque">
                            <input id="btn_ajouter" type="submit" name="banque[0][ajouter]" class="btn btn-default ajouter hide" />
                            <div id="img_ajouter"><img style="margin-left: -105px;" src='{{ asset('bundles/communs/images/plus.png') }}' width='22px'/></div>
                        </div>
                        <div id="ajouterBanqueHidden" class="hide" >
                            <input class="btn btn-default hide" />
                            <img style="margin-left: 4px;" src='{{ asset('bundles/communs/images/gris_plus.png') }}' width='22px'/>
                        </div>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for banque in listeBanqueExistants %}
                        <tr>
                    <input type="hidden" name="banque[{{ loop.index }}][id]" value="{{ banque.id }}" />
                    <td>
                        <input type="text" name="banque[{{ loop.index }}][code]" value="{{ banque.codeInterne }}" class="form-control codeBanqueModif" id="cbm_{{ banque.id }}" placeholder="Entrez un code interne" required="required" /></td>
                    <td>
                        <input type="text" name="banque[{{ loop.index }}][libelle]" value="{{ banque.libelle }}" class="form-control libelleBanqueModif" id="lbm_{{ banque.id }}" placeholder="Entrez un libellé" required="required" /></td>
                    <td>
                        <input type="text" name="banque[{{ loop.index }}][refExterne]" value="{{ banque.refExterne }}" class="form-control" placeholder="Entrez un libellé" {#required="required"#} /></td>
                    <td>
                        {#                    <input type="submit" name="banque[{{ loop.index }}][modifier]" value="✏" class="btn btn-default modifier" />#}
                        <button type="submit" name="banque[{{ loop.index }}][modifier]" title="Modifier banque" class="btn btn-default modifier"><i class="glyphicon glyphicon-floppy-disk btn-lg icone-enregistrer"></i></button>
                            {% if banque.supprimable %}
                            <button type="button" class="btn btn-default supprimer" data-dismiss="modal" data-toggle="modal" title="Supprimer banque" data-target="#confirmation{{ loop.index }}"></button>
                        {% else %}
                            <a style="padding: 10px 16px;" href="javascript:void(0)" class="glyphicon glyphicon-info-sign  plus" rel="popover" data-placement="left" data-content="Impossible de supprimer cette banque." data-trigger="hover" ></a>
                        {% endif %}
                        <div class="modal" id="confirmation{{ loop.index }}">
                            <div class="modal-dialog">
                                <div class="modal-content panel panel-danger">
                                    <div class="modal-header panel-heading">
                                        <h4 class="modal-title">Confirmation de suppression</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p id="modal-message" class="text-danger">Êtes-vous certain de vouloir supprimer la banque <strong>'{{ banque.libelle }}'</strong> ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                                        <input onclick="addCache(); $('#confirmation{{ loop.index }}').modal('hide')" type="submit" name="banque[{{ loop.index }}][supprimer]" value="Oui" class="btn btn-default btn-danger" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        var tableLibelle = new Array();
        var tableCode = new Array();
        {% for banque in listeBanqueExistants %}
            var libelle = "{{banque.libelle}}";
            var code = "{{banque.codeInterne}}";
            tableLibelle.push(libelle);
            tableCode.push(code);
        {% endfor %}
        $('#img_ajouter').click(function () {
            $('input#btn_ajouter').trigger("click");
        });
        $('[data-toggle="popover"]').popover();
        $('.pop').popover();
        $('.plus').popover();
    </script>
    <script src="{{ asset('bundles/AdministrationBundle/Referentiels/js/banque.js') }}" type="text/javascript"></script>
{% endblock %}

